/* 重置樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 變數管理 */
:root {
    --background-color: hsl(47, 88%, 63%);
    --card-background: hsl(0, 0%, 100%);
    --text-grey: hsl(0, 0%, 42%);
    --text-black: hsl(0, 0%, 7%);
}

/* 全局樣式 */
body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Figtree', sans-serif;
}

/* 卡片樣式 */
.card {
    background-color: var(--card-background);
    border-radius: 20px;
    width: 380px;
    padding: 24px;
    text-align: left;
    box-shadow: 8px 8px black;
    outline: 1px solid black;

}

.card img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 16px;
}

.card .tag {
    display: inline-block;
    background-color: #FFCA28;
    color: #000;
    font-size: 14px;
    font-weight: 800;
    border-radius: 5px;
    padding: 4px 12px;
    margin-bottom: 16px;
}

.card h1 {
    font-size: 1.5em;

    margin: 16px 0;
    font-weight: 800;
}

.card h2 {
    font-size: 0.9em;
    color: var(--text-grey);
    margin-bottom: 12px;
    font-weight: 500;
}

.card p {
    font-size: 1em;
    color: var(--text-grey);
    line-height: 1.5;
    margin-bottom: 12px;
    font-weight: 500;
}

.card .author {
    align-items: center;
    display: flex;
    margin-top: 20px;
}

.card .author img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.card .author span {
    font-size: 14px;
    color: var(--text-black);

    line-height: normal;
    font-weight: 800;
}

/* Attribution 固定在底部 */
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
}

/* 響應式設計 */
@media (max-width: 767px) {
    .card {
        padding: 16px;
    }

    .card img {
        margin-bottom: 12px;
    }

    .card .tag {
        font-size: 10px;
        margin-bottom: 8px;
    }

    .card h1 {
        font-size: 1.2em;
    }

    .card p {
        font-size: 0.9em;
    }
}